# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Temp/BuildingWebplayerTemplate/Builds.html
/Temp/StagingArea/Data/PlayerConnectionConfigFile
/Temp/UnityLockfile
/Temp/UnityTempFile-1511a61068ca7054aa72c3185abf644b
/Temp/UnityTempFile-2820212247e3f584182c39ec3763825b
/Temp/UnityTempFile-3691c9dca901ccf45b6ef24a9a39a4f3
/Temp/UnityTempFile-4c988279c7edc50448c7bed91d953297
/Temp/UnityTempFile-4eaf9be6b96df4d4db6402af3a9590de
/Temp/UnityTempFile-5061728b2c44bde4abee3f7ae7654f87
/Temp/UnityTempFile-5266e41630baea840982c18f4a2eb2c5
/Temp/UnityTempFile-5f6036fc961d9a54a8dfcd4062567905
/Temp/UnityTempFile-63648d80a24776348967dca40fabc2a8
/Temp/UnityTempFile-6ac807e2601ee6544bef112d36080251
/Temp/UnityTempFile-780e6956752a1024989f65c50ae7b322
/Temp/UnityTempFile-7b258b0675a8f6f418ba5d04af979cc8
/Temp/UnityTempFile-9463655f944a6804685bcb497474240c
/Temp/UnityTempFile-a353057ec20f7e44a9e1b44b6d1fc082
/Temp/UnityTempFile-add7e7c95bb467347a828c193fc78bbb
/Temp/UnityTempFile-db34438903c1ac1479d249246b53e0f5
/Temp/UnityTempFile-e3d9b17cd737a5d41bd7468ea9567544
